---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex justify-center">
		<img src="https://go.nordqr.com/89p92c/ff00b67072u.webp" alt="Logo Fire Station">
	</div>

	<div class="p-5">
		<h1 class="text-2xl font-extrabold uppercase">FireStation</h1>

		<div class="mt-4">
			<div class="flex justify-between items-center">
				<div class="flex gap-3 items-center">
					<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 9h.01" /><path d="M11 12h1v4h1" /></svg>
					<div>
						<p>Información</p>
						<span class="text-sm">Dirección, teléfono, horarios</span>
					</div>
				</div>
				<svg  xmlns="http://www.w3.org/2000/svg"  width="32"  height="32"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-direction-sign"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3.32 12.774l7.906 7.905c.427 .428 1.12 .428 1.548 0l7.905 -7.905a1.095 1.095 0 0 0 0 -1.548l-7.905 -7.905a1.095 1.095 0 0 0 -1.548 0l-7.905 7.905a1.095 1.095 0 0 0 0 1.548z" /><path d="M8 12h7.5" /><path d="M12 8.5l3.5 3.5l-3.5 3.5" /></svg>
			</div>
		</div>
	</div>
